page-chat {
    .header_title{
        padding: 7px 0 5px !important
     }
     .chat {
        margin-right: -55px !important;
        // width:115% !important
     }
     .user-item {
        padding-bottom: 4px !important;
        margin-top: 13px !important;
     }

     .chat .user_img img {
        width: 87% !important;
        height: 87% !important;
     }
     .chat  .left_side .text_box{
        margin-left: 7px !important;
        
     }
     .chat  .right_side .text_box{
        margin-right: 13px !important;
        
     }



}
