page-settings-notifications {
  .content-ios .scroll-content {
    margin-top: 18px !important;}
  .toggle-md.toggle-checked .toggle-icon {
    background-color: #f3a6cd !important;
  }

  .toggle-md.toggle-checked .toggle-inner {
    background-color: #5c0632 !important;
  }
}
