
/*----Start Reset Css----*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

#color1 {
	background-color: rgb(199, 169, 85);
	font-size: 18px;
	text-align: center;
	color: white;

}
#color2{
	background-image: linear-gradient(45deg, rgb(252, 216, 114) 0%, rgb(243, 83, 105) 100%) !important;	font-size: 18px;
	text-align: center;
	color: white;
}
#color3{
	background-color: rgb(243, 83, 105);
	font-size: 18px;
	text-align: center;
	color: white;
}
#color4
{
    background-image: linear-gradient(45deg, rgb(102, 244, 133) 0%, rgb(23, 172, 255) 100%) !important;	font-size: 18px;
	text-align: center;
	color: white;
}
#color5{
	background-color: rgb(74, 144, 226);
	font-size: 18px;
	text-align: center;
	color: white;
}
#color6
{
    background-image: linear-gradient(45deg, rgb(252, 54, 253) 0%, rgb(93, 63, 218) 100%) !important;	font-size: 18px;
	text-align: center;
	color: white;
}
#color7
{
	background-color: rgb(95, 102, 115);
	font-size: 18px;
	text-align: center;
	color: white;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	line-height: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----//End Reset Css------*/

/* BODY FONT - Applies to everything */
@font-face {
    font-family: 'lato';
    src:url('../fonts/lato.eot');
    src:url('../fonts/lato.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato.woff') format('woff'),
        url('../fonts/lato.ttf') format('truetype'),
        url('../fonts/lato.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*//End Font*/

:focus {
	outline: none !important;
}
* {
	box-sizing: border-box;
}
a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
}
img {
	max-width: 100%;
}
body {
    font-family: 'lato', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    background: #5c0632;
    color: #535353;
}
.page {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	min-height: 100vh;
	padding-bottom: 73px;
}
.container {
	width: 94% !important;
	margin: 0 auto;
	padding: 0;
}
.full_vh {
	min-height: calc(120vh - 73px);
}
.bg_white {
	background: #FFF;
}
.bg_grey {
	background: #EEE;
}
.bg_theme {
	background: #5c0632;
}
.btn-theme {
	background: #5c0632;
	color: #fff !important;
}
.panel-theme {
	padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.add-btn {
	position: fixed;
	bottom: 30px;
	left: 20px;
	z-index: 9999;
	background: #5c0632;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.add-btn a {
	display: block;
	color: #fff;
	font-size: 17px;
}
.panel-theme {
	padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.flex {
	display: flex;
}
.flex-h-center {
	display: flex;
	justify-content: center;
}
.flex-v-center {
	display: flex;
	align-items: center;
}
.flex-space-around {
	display: flex;
	justify-content: space-around;
}
.flex-space-between {
	display: flex;
	justify-content: space-between;
}
.dropdown-menu-left {
    left: 0;
    right: auto;
}
.form-group>label {
	margin-bottom: 5px;
}
.modal-title {
	font-weight: 600;
}
.list-group-theme .list-group-item {
	padding: 20px 25px;
	border-radius: 0;
}
.list-group-sm .list-group-item {
	padding: 10px 25px;
}
.list-group-theme .list-group-item h4 {
	font-weight: 600;
    color: #5c0632;
}
.checkbox, .radio {
	position: relative;
	padding-right: 20px;
	margin: 5px 0;
}
.checkbox-inline, .radio-inline {
	display: inline-block;
	vertical-align: bottom;
}
.checkbox label, .radio label {
	display: inline-block;
    position: relative;
    padding-right: 5px;
}
.checkbox-list label, .radio-list label {
	display: block;
	position: static;
}
.checkbox-list, .checkbox-list label, .radio-list, .radio-list label {
	padding-right: 0;
}
.checkbox input[type="checkbox"], .radio input[type="radio"] {
    opacity: 0;
}
.checkbox label:before, .checkbox label:after,
.radio label:before, .radio label:after {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	top: 3px;
}
.checkbox label:before, .radio label:before {
    right: -20px;
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 3px;
}
.checkbox-list label:before, .radio-list label:before {
	right: auto;
    left: 0;
}
.radio label:before, .radio label:after {
	border-radius: 50%;
}
.checkbox label:after {
    right: -16px;
	font-size: 11px;
	color: #FFF;
}
.checkbox-list label:after {
	right: auto;
    left: -4px;
}
.radio label:after {
	top: 6px;
	right: -17px;
	width: 11px;
	height: 11px;
	background-color: #5c0632;
	-webkit-transform: scale(0);
	transform: scale(0)
}
.radio-list label:after {
	right: auto;
	left: 3px;
}
.checkbox input[type="checkbox"]:checked + label:before {
	background-color: #5c0632;
	border-color: #5c0632;
}
.checkbox input[type="checkbox"]:checked + label:after {
	font-family: "Ionicons";
	content: "\f121";
	color: #FFF;
}
.radio input[type="radio"]:checked + label:after {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.nav-tabs {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #ddd;
}
.nav-tabs>li {
	text-align: center;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover, .nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
	color: #5c0632;
	border: none;
	background: none;
}
.nav-tabs>li>a {
	border: none;
	color: #777;
}
.nav-tabs>li>a>i,
.nav-tabs>li>a:not(.dropdown)>span {
	display: block;
}
.nav-tabs>li i {
	font-size: 18px;
}
.nav-tabs>li>a i.fa-check {
	font-size: 12px;
	position: relative;
	top: -3px;
	right: -2px;
}
.nav-tabs>li>a>i.ion-chatboxes,
.nav-tabs>li>a>i.ion-more {
    line-height: 0;
    font-size: 20px;
}
.nav-tabs .dropdown-menu {
	width: 100%;
}
.nav-tabs form select {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 100%;
    background: #5c0632;
}
.ui-datepicker {
	z-index: 9999 !important;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 2px;
    cursor: pointer;
	border: 1px solid #fff;
}
.ui-datepicker .ui-datepicker-prev-hover {
	right: 2px;
}
.ui-datepicker .ui-datepicker-next-hover {
	left: 2px;
}
.ui-datepicker .ui-datepicker-title select {
	color: #333;
}
.p-0 { padding: 0 !important; }
.pt-70 { padding-top: 54px !important; }
.pb-25 { padding-bottom: 25px !important; }
.mt-5 { margin-top: 5px !important; }
.mt-10 { margin-top: 10px !important; }
.mt-15 { margin-top: 15px !important; }
.mt-20 { margin-top: 20px !important; }
.mt-30 { margin-top: 30px !important; }
.mb-5 { margin-bottom: 5px !important; }
.mb-10 { margin-bottom: 10px !important; }
.mb-15 { margin-bottom: 15px !important; }
.mb-20 { margin-bottom: 20px !important; }
.mb-30 { margin-bottom: 30px !important; }
.ml-5 { margin-right: 5px !important; }
.ml-10 { margin-right: 10px !important; }
.ml-15 { margin-right: 15px !important; }
.ml-20 { margin-right: 20px !important; }
.ml-30 { margin-right: 30px !important; }
.mr-5 { margin-left: 5px !important; }
.mr-10 { margin-left: 10px !important; }
.mr-15 { margin-left: 15px !important; }
.mr-20 { margin-left: 20px !important; }
.mr-30 { margin-left: 30px !important; }
.fz-11 { font-size: 11px !important; }
/*============================
//End Global
=============================*/

/*=========================
Start Login & crt_account
===========================*/
.form_input input, .crt_account a {
	color: #EEE;
    width: 100%;
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	border-radius: 3px;
	border: 1px solid #AAA;
	background: #5c0632;
	margin-bottom: 15px;
}
.form_input input[type=submit] {
	background: #ffd800;
	border-color: #ffd800;
	text-transform: uppercase;
	color: #000;
	cursor: pointer;
}
.form_input input::-webkit-input-placeholder {
	color: #CCC;
}
.form_input input::-moz-placeholder {
	color: #CCC;
}
.form_input input:-ms-input-placeholder {
	color: #CCC;
}
.form_input input:not([type=submit]):focus {
	border: 1px solid #AAA;
	box-shadow: 0 0 3px #EEE;
}
.line_or {
	position: relative;
	margin: 30px -3%;
	height: 40px;
}
.line_or:after {
	content: '';
	position: absolute;
	top: 20px;
	right: 0;
	left: 0;
    width: 100%;
	height: 1px;
	background: #AAA;
	z-index: 1;
}
.line_or h3 {
	position: absolute;
	right: 0;
	left: 0;
	width: 80px;
	height: 40px;
	margin: 0 auto;
	background: #5c0632;
	color: #AAA;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	z-index: 2;
}
.crt_account a {
	color: #FFF;
	text-align: center;
	background: rgba(255,255,255,0.15);
	border-color: rgba(255,255,255,0.4);
}
.profile_img {
	width: 100px;
    height: 100px;
    display: block;
    border: 4px solid #EEE;
    border-radius: 50%;
    margin: 0 auto 40px;
    font-size: 100px;
    text-align: center;
    line-height: 100px;
    color: #EEE;
    cursor: pointer;
}
/*=========================
//End Login & crt_account
===========================*/

/*=========================
Start Main Navigation
===========================*/
.top-nav .active {
	position: relative;
}
.top-nav .active i {
	color: #FFF;
}
.top-nav .active:after {
	content: "";
	border: 10px solid transparent;
	border-bottom-color: #FFF;
	position: absolute;
	bottom: -6px;
	right: 50%;
	margin-right: -10px;
}
.top-nav a i {
	color: #CACACA;
    font-size: 32px;
    line-height: 0;
}
.navigation {
	position: fixed;
	bottom: 0;
    width: 100%;
    max-width: 768px;
	overflow: hidden;
	text-align: center;
    z-index: 10;
}
.navigation ul li {
	width: 20%;
	float: right;
}
.navigation ul li a {
	background: #8f064e;
	display: block;
	color: #EEE;
}
.navigation ul li a i {
	font-size: 30px;
}
.navigation ul li a span {
	background: #5c0632;
	display: block;
	font-size: 11px;
	padding: 2px 0;
}
/*=========================
//End Main Navigation
===========================*/

/*=========================
Start Header Title
===========================*/
.header_title {

	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    overflow: hidden;
    background: #5c0632;
    font-size: 32px;
    color: #EEE;
    z-index: 10;
}
.header_title .back_btn,
.header_title .page_title,
.header_title .menu_btn {
	float: right;
	width: 15%;
}
.header_title:not(.main_header_title) .back_btn {
	padding-right: 10px;
}
.header_title .back_btn i {
	width: 40px;
	display: inline-block;
}

.header_title .back_btn i.fa-arrow-left:before {
    content: "\f061";
}
.header_title .menu_btn,.main_header_title .back_btn{
	text-align: left !important;
}
.header_title:not(.main_header_title) .menu_btn {
	padding-left: 10px;
}
.header_title .page_title {
	width: 70%;
    font-size: 24px;
}
.header_title .container {
		width: 94% !important;
    display: flex;
    align-items: center;
}
.header_title .page_title h3 {
	/* font-size: 22px !IMPORTANT;
    font-weight: 400;
    margin-top: -13px; */
}
/*=========================
//End Header Title
===========================*/

/*====================================
Start Menu
====================================*/
.menu {
	padding: 60px 0 80px;
}
.user_cover {
	background: url(../images/menu_bg.jpg) no-repeat;
	    background-size: cover;
	    padding: 60px 5%;
	    position: relative;
	    min-height: 200px;
}
.menu .user_cover img {
	float: right;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 3px solid #FFF;
	margin-left: 20px;
}
.menu .user_cover h3 {
	float: right;
	color: #FFF;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 20px;
}
.menu .user_cover i {
	color: #FFF;
    font-size: 19px;
    display: block;
    margin-top: 25px;
}
.menu .menu_items li {
	border-bottom: 1px solid rgba(255,255,255,0.1);
    padding: 5px 0;
}
.menu .menu_items li a {
	display: block;
	color: #EEE;
}
.menu .menu_items li a i {
	font-size: 22px;
	margin: 0 10px;
    vertical-align: sub;
}
.menu .menu_items li a i {
    font-size: 22px;
    width: 17px;
    text-align: center;
    display: inline-block;
    vertical-align: sub;
}
.menu .logout .btn {
    margin-top: 40px;
    background: #ffd800;
    color: #000 !important;
    text-transform: uppercase;
}
/*====================================
//End Menu
====================================*/

/*=========================
Start News
===========================*/
.share-post {
	border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 15px;
}
.share-post img {
	width: 50px;
	height: 50px;
	position: absolute;
	border-radius: 100px;
}
.share-post textarea {
	width: 100%;
	padding-right: 60px;
	border: none;
	resize: none;
}
.feed-header {
	margin-bottom: 20px;
}
.feed-img {
	width: 50px;
	height: 50px;
	float: right;
	margin-left: 10px;
	border-radius: 100px;
}
.feed-header .feed-title {
	float: right;
	width: calc(100% - 60px);
}
.feed-title h3 {
	font-size: 14px;
	font-weight: 600;
	margin: 5px 0 -2px;
}
.feed-body h3 {
	font-size: 16px;
	margin-bottom: 15px;
}
.feed-body h3 a {
	color: #5c0632;
}
.feed-footer {
    color: #777;
}
.feed-footer .feed-img {
	width: 40px;
	height: 40px;
}
.feed-footer .feed-title h3 {
	font-size: 12px;
	margin: -4px 0 2px;
}
.feed-footer .feed-title p {
	font-size: 12px;
}
.feed-footer .action-result {
    margin: 10px 0;
}
.feed-footer .feed-action {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    margin-bottom: 5px;
    overflow: hidden;
}
.post .feed-footer .feed-action {
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
	margin-bottom: 25px;
}
.feed-footer .comment {
    margin: 20px 0;
    overflow: hidden;
}
.feed-footer .comment .comment:not(.write-comment) {
	margin-right: 50px;
}
.feed-footer .comment .comment:last-child {
	margin-bottom: 0;
}
.feed-footer .comment-action {
    color: #777;
    font-size: 12px;
    overflow: hidden;
}
.comment .write-comment {
	max-width: 400px;
}
.comment .write-comment form input,
.comment .write-comment form button {
	height: 35px;
    line-height: 35px;
}
.write-comment .feed-img {
	width: 30px;
	height: 30px;
}
.write-comment form input,
.write-comment form button {
	height: 50px;
    line-height: 50px;
}
.write-comment form button i {
	display: block;
	color: #5c0632;
}
.feed-editors {
	margin-top: 10px;
	margin-right: 40px;
}
.feed-editors li {
	float: right;
	margin-left: 10px;
}
.feed-editors a:hover {
	color: #5c0632;
}
/*=========================
//End News
===========================*/

/*=========================
Start Chat
===========================*/
.chat {
	position: relative;
	padding: 25px 0 90px;
	overflow: hidden;
}
.chat>div {
	width: 85%;
	float: right;
	margin-bottom: 15px;
	overflow: hidden;
}
.chat .user_img {
	width: 60px;
	height: 60px;
	float: right;
}
.chat .user_img img {
	width: 100%;
	height: 100%;
}
.chat .text_box {
	width: calc(100% - 85px);
	float: right;
	margin-right: 25px;
	position: relative;
}
.chat .text_box:before {
	content: '';
	position: absolute;
	top: 10px;
	right: -20px;
    border: 10px solid transparent;
    border-left-color: #8f064e;
}
.chat .text_box p {
    background: #8f064e;
    border-radius: 5px;
    line-height: 20px;
	padding: 12px;
    color: #EEE;
}
.chat .text_box i {
	color: #8f064e;
	font-size: 12px;
	margin-left: 5px;
}
.chat .text_box time {
	color: #8f064e;
	font-size: 12px;
}
.chat .left_side,
.chat .left_side .user_img,
.chat .left_side .text_box,
.chat .left_side .text_box i,
.chat .left_side .text_box time {
	float: left;
}
.chat .left_side .text_box {
	margin-left: 25px;
	margin-right: 0;
}
.chat .left_side .text_box:before {
	left: -20px;
	right: auto;
	border-right-color: #5c0632;
	border-left-color: transparent;

}
.chat .left_side .text_box p {
    background: #5c0632;
}
.chat .left_side .text_box i {
	margin-left: 0;
    margin-right: 5px;
    margin-top: 3px;
}
.chat .left_side .text_box time {
	margin-top: 3px;
}
.message-box {
	position: fixed;
    bottom: 73px;
    width: 100%;
    max-width: 768px;
	background: #ddd;
	padding: 20px 0;
	z-index: 10;
}
.message-box form button i,
.search-form button i {
	color: #5c0632;
}
/*=========================
//End Chat
===========================*/

/*=========================
Start Friends Requests
===========================*/
.nav_requests {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
    margin: 10px 0 20px;
	overflow: hidden;
}
@media(max-width: 380px) {
	.friends_requests .user-item>.pull-left {
		float: right !important;
		margin-top: 20px;
	}
}
/*=========================
//End Friends Requests
===========================*/

/*====================================
Start Friend List
====================================*/
.user-item {
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
	margin-top: 20px;
	overflow: hidden;
}
.user-item:last-child {
	border-bottom: none;
}
.user-img.active {
	position: relative;
}
.user-img.active:after {
    content: "\f122";
    font-family: "Ionicons";
    position: absolute;
    bottom: -6px;
    left: -8px;
    color: #fff;
    background: #4caf50;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 17px;
    font-size: 10px;
    border-radius: 50%;
}
.user-img {
	float: right;
	width: 60px;
	height: 60px;
	border: 3px solid #5c0632;
	margin-left: 20px;
}
.user-item img {
	width: 100%;
	height: 100%;
}
.user-info h3 {
    font-size: 13px;
    font-weight: 600;
    margin-top: 5px;
}
.notifications .user-info h3 span {
	text-transform: none;
}
.user-item .fa-circle {
	font-size: 12px;
	color: #43a047;
	margin: 20px;
}
/*====================================
//End Friend List
====================================*/

/*====================================
Start Friend Profile
====================================*/
.user_cover h3 {
	font-size: 16px;
    margin-right: 22px;
}
.friend_profile_box {
		width: 110px;
		height: 110px;
    position: absolute;
    bottom: -30px;
    right: 50%;
    margin-right: -60px;
    border: 3px solid #fff;
    border-radius: 3px;
}
.friend_profile_box img {
	width: 100%;
	height: 100%;
}
.friend_profile_box h3 {
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}
.friend_profile .nav-tabs {
	margin-top: 150px;
}
.profile-text {
	text-align: center;
	margin: 20px 0 10px;
	font-size: 16px;
}
.profile-info li {
	line-height: 2.5;
	font-size: 16px;
}
/*====================================
//End Friend Profile
====================================*/

/*====================================
Start Profile
====================================*/
.profile .friend_profile_box {
	bottom: -40px;
	right: 40px;
	margin-right: 0;
}
.img-upload {
	position: relative;
}
.file-input-cover {
	display: inline-block;
}
.file-input-profile {
	position: absolute;
    bottom: 0;
    right: 0px;
}
.file-input-profile i {
    background: rgba(0,0,0,0.4);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
}
.file-input input {
	display: none;
}
.profile-editors {
	position: absolute;
	bottom: 10px;
	left: 10px;
}
@media (max-width: 460px) {
	.profile-editors {
		top: 10px;
		bottom: auto;
	}
}
.profile .nav-tabs {
	margin: 100px 0 30px;
}
.profile .nav-tabs>li>a {
	font-size: 13px;
}
.timeline {
	position: relative;
	padding-right: 20px;
}
.timeline:before, .timeline .feed-box:before {
    content: "";
    position: absolute;
    top: 0;
}
.timeline:before {
    right: 0;
    bottom: 0px;
    width: 2px;
    background: rgba(0,0,0,0.1);
}
.timeline .feed-box {
	position: relative;
	border-bottom: 1px solid #ddd;
}
.timeline .feed-box:before {
    top: 20px;
    right: -25px;
    width: 10px;
    height: 10px;
    background: #fff;
    border: 3px solid #5c0632;
    border-radius: 50%;
}
/*====================================
//End Profile
====================================*/

/*====================================
//Start Pages
====================================*/
.pages {
	background: #EEE;
}
.user_cover {
	background: url(../images/menu_bg.jpg) no-repeat;
	background-size: cover;
    padding: 60px 5%;
    position: relative;
	min-height: 200px;
}
.pages .nav-tabs {
    margin-top: 69px;
    border: none;
}
.pages .nav-tabs>li {
	width: 50%;
}
.pages .nav-tabs>li.active>a,
.pages .nav-tabs>li.active>a:focus,
.pages .nav-tabs>li.active>a:hover,
.pages .nav-tabs>li>a:hover,
.pages .nav-tabs>li>a:focus {
    background: #5c0632;
    color: #fff;
    border-radius: 5px;
}
.pages .nav-tabs>li>a:hover,
.pages .nav-tabs>li>a:focus {
    background: #9E9E9E;
    color: #5c0632;
}
.search-filter:not(.search-full) input.form-control {
	width: 60%;
}
.search-filter select.form-control {
	width: 40%;
}
.select-third select.form-control {
	width: 33.333%;
}
.select-half select.form-control {
	width: 50%;
}
@media(min-width: 601px) {
	.thumbnails .thumbnail img {
	    width: 100%;
	    height: 200px;
	    object-fit: cover;
	}
}
.thumbnails img {
    width: 100%;
    height: 120px !important;
}
.thumbnails .thumbnail h3 {
    font-weight: 600;
    margin-top: 5px;
		font-size: 12px;
		height: 18px;
		overflow: hidden;
}
.thumbnails .thumbnail p {
    font-size: 13px;
    margin: 5px 0 15px;
		height: 34px;
		overflow: hidden;
}
.thumbnails .thumbnail .caption .text-muted {
    display: block;
    margin-top: -3px;
	font-size: 11px;
	height: 14px;
    overflow: hidden;
}
.thumbnails.videos .caption p i {
	color: #777;
	font-size: 16px;
    position: relative;
    top: 1px;
}
.pages .share-post {
	border: none;
    padding-top: 10px;
    padding-bottom: 0;
    margin-top: 0;
}
.forum-details h3 {
	position: relative;
	margin-bottom: 5px;
	font-weight: 600;
}
.forum-details h3 span {
	position: absolute;
	top: 4px;
	right: 0;
	margin-right: 90px;
	line-height: 16px;
	font-weight: 300;
}
.forum-details img {
	width: 45px;
	margin-top: 5px;
}
.header_title a i {
	color: #fff;
font-size: 17px;
position: relative;
top: -10px;
}
.profile .friend_profile_box {
	bottom: -40px;
	right: 40px;
	margin-right: 0;
}
.img-upload {
	position: relative;
	height: 100%;
}
.file-input-cover {
	display: inline-block;
}
.file-input-profile {
	position: absolute;
    bottom: 0;
    right: 0px;
}
.file-input-profile i {
    background: rgba(0,0,0,0.4);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
}
.file-input input {
	display: none;
}
.profile .profile-editors {
	position: absolute !important;
	bottom: 10px !important;
	left: 10px !important;
	    top: auto !important;
}
@media (max-width: 460px) {
	.profile-editors {
		top: 10px !important;
		bottom: auto !important;
	}
}
.profile .nav-tabs {
	margin: 100px 0 30px !important;;
}
.profile .nav-tabs>li>a {
	font-size: 13px !important;;
}
.thumbnails .thumbnail h3 {
    font-weight: 600;
    margin-top: 5px;
}
/*====================================
//End Pages
====================================*/
.menu .menu_items li>span {
    color: #b5b5b5;
    text-transform: uppercase;
    margin-top: 30px;
    display: block;
}

.pages {
	background: #EEE;
}
.pages .nav-tabs {
    margin-top: 53px;
    border: none;
}
.pages .nav-tabs>li {
	width: 50%;
}
.pages .nav-tabs>li.active>a,
.pages .nav-tabs>li.active>a:focus,
.pages .nav-tabs>li.active>a:hover,
.pages .nav-tabs>li>a:hover,
.pages .nav-tabs>li>a:focus {
    background: #5c0632;
    color: #fff;
    border-radius: 5px;
}
.pages .nav-tabs>li>a:hover,
.pages .nav-tabs>li>a:focus {
    background: #9E9E9E;
    color: #5c0632;
}
.pages .add-post {
	border: none;
    padding-top: 10px;
    padding-bottom: 0;
    margin-top: 0;
}
.feed-header .feed-title {
    float: right;
    width: calc(100% - 60px);
}
#ion-diagnostics-toast {
	background: none !important
}
.modal-backdrop {
	z-index: -1 !important
}
.nav-tabs .photo-upload {
    padding: 7px 15px;
}

.poll-options-container .options {
	border-bottom: solid 1px #F1F1F1;
	padding: 4px 10px;
	position: relative;
  }
  .poll-options-container .options i {
	  font-size: 20px;
	  display: inline-block;
	  position: relative;
	  top: 2px;
  }
  .poll-options-container .options input[type="text"] {
  margin-right:3px
  }
  .poll-options-container .options input[type=text] {
	  border: none;
	  width: 90%;
	  height: 30px;
	  outline: none;
	  font-size: 15px;
  }
	.menu_items .input-wrapper .label span {
	  font-size: 16px;
		vertical-align: middle;
	}
	.user_cover .dropdown-menu>li>a {
		padding: 5px 20px;
	}
	.scroll-bar-indicator
	{
		display: none;
	}
	.not-found>i {
		color: #5c0632;
		font-size: 180px;
		line-height: 0;
	}
	.not-found h1 {
		color: #555;
		font-size: 80px;
		font-weight: 600;
		line-height: 1.3;
	}
	.not-found h3 {
		color: #777;
		font-size: 30px;
		text-transform: uppercase;
	}
	.not-found p {
		color: #777;
		font-size: 16px;
	}
	.not-found p a {
		color: #5c0632;
	}
	::-webkit-scrollbar {
		width: 0;
		background-color: transparent;
		display: none;
	}
	.pull-left {
		float: right !important;
	}
	.pull-right {
		float: left !important;
	}
	.dropdown-menu {
		right: 0 !important;
		left: auto !important;
	}
	.dropdown-menu-right {
    left: 0 !important;
    right: auto !important;
   }
	 .dropdown-menu>li>a {
		 text-align: right;
	 }
	.dropdown-menu-right i {
		margin-right: -3px !important;
		margin-left: 5px !important;
	}
	/*.feed-header .feed-title {
    width: calc(100% - 73px);
}*/
	.feed-action a i {
		margin-left: 3px;
	}
	.Addfriend {
		float: left;
	}
	.user-img {
		margin-right: 0;
	}
	.menu_items .input-wrapper .label {
		text-align: right !important;
	}
	.profile .profile-editors {
    position: absolute !important;
     top: 10px !important;
     left: 10px !important;
		 right: auto !important;
	 }
	 .online_mark {
	   float: left !important;
   }
	 .notifications .user-item {
     position: relative;
     margin-top: 0;
     padding-top: 20px;
   }
 	.notifications .user-info {
 		position: absolute;top: 26px;right: 70px;
 	}
	.notifications .user-info h5 {
		line-height: 16px;p
	}
 	.notifications .read-mark {
 		position: absolute;
 		left: 5px;
 		top: 5px;
 	}
	/*.dir-text{
		direction: rtl !important;
	}*/
		.main-search  .input-group {
    direction: rtl;
	}
	.main-search .input-group .form-control {
		  direction: rtl;
	}
	.main-search input {
		color: #fff;
	}
	.main-search button {
 background-color: transparent;
		 border-color: transparent;
		 margin-right: -35px;
	 }
	.main-search ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.main-search ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.main-search :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.main-search :-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
.searchbar-input{
	background-color: #5c0632 !important;
}
.ion-app [no-padding] .scroll-content {
    margin-left: 25px !important;
}
.filters {
	margin-left: 0;
	margin-right: 15px;
}
.swiper-slide {
	width: auto !important;
}
.last-slide {
	display: none;
}
.back_btn .fa-arrow-left {
	position: relative;
	top: -5px;
}
.scroll-content {
	margin-bottom: 20px;
}
	/*****************************************************************
		IOS STYLE
	*****************************************************************/
	.item-ios {
		background-color: transparent !important;
	}
	.list-ios .item-block .item-inner{
		border-bottom: 0.55px solid #c8c7cc75 !important;
	}
	.list-ios > .item-block:first-child
	 {
    border-top: 0.55px solid #c8c7cc75 !important;
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
	border: none !important;
}
	.menu-inner .header-ios .toolbar-background-ios,
	.menu-inner .footer-ios .toolbar-background-ios {
		background: none !important;
	}
	.toolbar-title-ios {
		color: #fff !important;
	}
	/* .ios .header_title {
		top: 18px !important;
	} */
	.tabs-ios {
		top: 42px !important;
	}
	.content-ios .scroll-content {
		margin-top: 40px !important;
		margin-bottom: 30px !important;
	}
	/* .tabs-ios .tabbar {
    border: none !important;
    background: #5c0632 !important;
}
.tabs-ios .tab-button-icon {
	color: #fff !important;
} */
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
	color: #5c0632 !important;
}
.toggle-ios {
    width: 40px !important;
    height: 22px !important;
}
.toggle-ios .toggle-inner {
		width: 19px !important;
    height: 19px !important;
}
#iphone-frame .statusbar {
    background-color: #fff;
}
