page-trending {
  .content-ios .scroll-content {
    margin-top: 18px !important;}
  .list-group-theme .list-group-item {
    padding: 10px 25px !important;
  }

  .list-group {
    margin-bottom: 2px !important;
  }
}
