page-post-featurs {
  
  .panel {
    margin-bottom: 0 !important;
  }

  .feed-editors {
    margin-top: 0 !important;
    margin-left: 0 !important;
  }

  .open > .dropdown-menu {
    width: 100%;
  }

  .feeling-div {
    display: none;
  }

  .dropdown-feeling .dropdown-menu {
    width: 100%;
  }

  .dropdown-feeling img {
    width: 15px;
    margin-right: 5px;
    vertical-align: middle;
  }

  .dropdown-feeling li a {
    line-height: 2.1 !important;
  }


  .scroll-content {
    margin-top: 56px !important;
  }

  .feed-editors {
    margin-right: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100% !important;
    color: #5c0632 !important;
}
.show {display:block;}
}
