page-friends {
    .header_title{
        padding: 7px 0 5px !important
     }
     .user_img{

       border: 0px solid #5c0632 !important;
     }
     .user_img img{
       border-radius: 100px !important;
     }
     .scroll-content{
   		margin-top: 96px !important;
   	}
}
