// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// @include if-rtl {
//    @import "../assets/css/main-ar.css";
// }
// $isRTL: false !default;
// @mixin rtl {
//   @if $isRTL {
//     @if & {
//       & {
//         @content;
//       }
//     }
//     @else {
//       @content;
//     }
//   }
// }
//
// html[dir='ltr']{
//   @import "../assets/css/main.css";
// }
// html[dir='rtl']{
//   @import "../assets/css/main-ar.css";
// }

.menu-inner {
    width:80% !important;
}
html {
    touch-action: manipulation;

}

.item-md {

    background-color: #5c0632 !important;
    padding: 0px !important

}
.toolbar-background-md{
    background: #5c0632 !important;

}
.menu-inner > ion-header, .menu-inner > ion-content, .menu-inner > ion-footer {
    background: #5c0632 !important;

}
.toolbar-title-md{
    color : white !important
}


.header_title .page_title h3  {
    font-size: 16px !important
}

.input-wrapper{
    //padding:10px !important;

}
.list-md .item-block .item-inner{
    border-bottom: 1px solid rgba(255,255,255,0.1);

}

.menu_items .input-wrapper .label {
    font-weight: 400 !important;
    text-align: left;
    font-family: 'lato', sans-serif !important;margin-left: 0!important;

    padding-top: 0;
}
.menu_items .input-wrapper .label .icons {
    font-size: 23px !important;
    margin: 0 20px !important;
    vertical-align: middle;
    width: 20px;
}
.logout
{
    margin-top: 40px !important;
    background: #ffd800 !important;
    color: #000  !important;
  //  padding: 17px !important;
    text-transform: uppercase !important;
    margin: 50px !important;
    float: right !important
}
