page-messages {
    .header_title{
        padding: 7px 0 5px !important
     }
     .user-img {
         border-radius: 50px !important;
         border: 0px solid #5c0632;

     }
     .user-img img {
         border-radius: 50px !important
     }
     .scroll-content{
   		margin-top: 96px !important;
   	}
}
