page-terms-and-conditions {
    .terms-header{
        margin-top: 60px !important;
        text-align: center;
        color:#5c0632;
        font-family: fantasy;
        font-weight: 550 ;
    }
    .acceptTerms{
        float: right;
        padding: 7px;
        background-color: #5c0632;
        margin-right: 20px;
        cursor: pointer;
        color:white;
    }
}
